.home {
  margin: auto;
  display: flex;
  width: 992px;

  header {
    padding-top: 40px;
    position: fixed;
    width: 992px;

    // width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    nav {
      display: flex;
      width: 100vw;

      justify-content: space-around;

      .nav-logo {
        display: flex;
        align-items: center;

        img {
          width: 35px;
        }
      }
      .nav-name {
        padding: 10px;
        a{

          text-decoration: none;
        }
      }
      .nav-link {
        ul {
          display: flex;
          justify-content: space-between;

          li {
            list-style: none;
            padding: 10px;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .container-home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5em;

    .home-imagem {
      display: flex;
      align-items: flex-end;

      img {
        margin: 0;
        width: 80%;
        padding-top: 40px;
      }
    }
    .home-txt {
      display: flex;
      flex-direction: column;

      justify-content: center;

      .txt-button {
        margin-bottom: 50px;
        align-items: flex-end;
        button {
          margin-top: 10px;
          width: 150px;
          height: 50px;

          background-color: #1762a7;
          border: 1px;
          border-radius: 8px;
          font-size: larger;
        }
      }
    }
  }
}

.Discover {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  height: 992px;
  .discover-container {
    display: flex;
padding: 40px;
    flex-direction: column;
  }
  .discover-new-music {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 30px;
  }


  .discover-button {
    display: flex;
    justify-content: space-around;
    img {
      width: 100px;
    }
    margin-bottom: 40px;
  }
  .dicover-txt{
    padding: 40px;
    text-align: left;
  }
  .discover-disco {
    img {
      width: 529px;
    }
  }
}
.discover-disco{

 padding: 90px;
 img{

  width: 529px;
 }
  
}