
@import url(../styles/styles.css);
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #2F303A;
 

}
 